<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOCKED</title>
    <link rel="icon" href="">
    


     
    <style>

        body{
             background-color:  #131842;
        }

        .service{

margin-top: 10%;
margin-left: 35%;
}

.response {
    color: #F6FB7A;       
}

.code {
    color:#F6FB7A;
}

.message {
    color:#F6FB7A;

}



    </style>
</head>
<body>

   

    <div class="service">

        <h1 class="response">{{response}}</h1>

        <p class="code">{{statusCode}}</p>

        <p class ="message">{{message}}</p>

    </div>

    

    
    
</body>
</html>