<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOCKED</title>
    <link rel="icon" href="">
    


     
    <style>

        body{
             background-color:  red;
        }

        .service{

margin-top: 10%;
margin-left: 35%;
}

.response {
    color: black;       
}

.code {
    color:black;
}

.message {
    color:black;

}



    </style>
</head>
<body>

   

    <div class="service">

        <h1  th:text="${response}" class="response"></h1>

        <p th:text="${statusCode}" class="code"></p>

        <h2 th:text="${message}" class ="message"></h2>

    </div>

    

    
    
</body>
</html>