<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNAVAILABLE</title>
        <link rel="icon" href="">
    

    <!--
    
{
  "code": 406,
  "status": "error",
  "message": "Sorry,but the service /luxury-cars/models is currently unavailable in your country, Ghana",
  "response": "UNAVAILABLE",
  "timestamp": "2024-08-09T17:07:50.208293103Z",
  "requestId": "99e6d778-da66-454f-8e0c-641cb3c09697"
}
    -->
    
    <style>

        body{
             background-color:  #E2DFD0;
        } 


      .service{

        margin-top: 10%;
        margin-left: 35%;
      }

        .response {
            color: #1A4D2E;          
        }

        .code {
            color:black;
        }

        .message {
            color:black;

        }


    </style>
</head>
<body>




    <div class="service">

        <h1 class="response">{{response}}</h1>

        <p class="code">{{statusCode}}</p>

        <p class ="message">{{message}}</p>

    </div>

    


    
</body>
</html>