<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>UNAVAILABLE</title>
<link rel="icon" href="">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap"
	rel="stylesheet">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

   <!--
    
{
  "code": 406,
  "status": "error",
  "message": "Sorry,but the service /luxury-cars/models is currently unavailable in your country, Ghana",
  "response": "UNAVAILABLE",
  "timestamp": "2024-08-09T17:07:50.208293103Z",
  "requestId": "99e6d778-da66-454f-8e0c-641cb3c09697"
}
    -->
    
    <style>

        body{
             background-color:  #E2DFD0;
        } 


      .service{

        margin-top: 10%;
        margin-left: 35%;
      }

        .response {
            color: #1A4D2E;          
        }

        .code {
            color:black;
        }

        .message {
            color:black;

        }


    </style>
</head>
<body>



  <div class="service">

        <h1  th:text="${response}" class="response"></h1>

        <p th:text="${statusCode}" class="code"></p>

        <p th:text="${message}" class ="message"></p>

    </div>

    


    
</body>
</html>